.container{
  height: fit-content;
  min-height: 200px;
  width: 100%;
}

.wrapper{
  height: 100%;
  width: 95%;
  margin: 0 auto;
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
}

.container > h2{
  text-align: center;
  color: #333;
  margin-top: 1.5rem;
  font-size: 32px;
}